<p class="z-informationmsg">
    {gt text="This is a ranked multiple selection poll." domain="module_advanced_polls"}
    {gt text="You may select %s option ranked in order." plural="You may select %s options ranked in order." count=$multiplecount|pnvarprepfordisplay tag1=$multiplecount|pnvarprepfordisplay domain="module_advanced_polls"}
</p>

{counter name=counter print=false start=1 assign=optioncounter}
{section name=multiloop loop=$multiplecount}
<div class="z-formrow">
    <label for="choice{$optioncounter}">{gt text="Choice %s" tag1=$optioncounter domain="module_advanced_polls"}</label>
    <select id="choice{$optioncounter}" name="option{$optioncounter|pnvarprepfordisplay}">
        {foreach from=$item.options item=option}
        <option value="{$option.id|pnvarprepfordisplay}">{$option.optiontext|pnvarprephtmldisplay}</option>
        {/foreach}
    </select>
</div>
{counter name=counter print=false}
{/section}
