<!--[*  $Id$  *]-->
<!--[include file="advancedpolls_admin_menu.htm"]-->
<!--[gt text="Duplicate poll" assign=templatetitle]-->
<div class="z-admincontainer">
    <div class="z-adminpageicon"><!--[pnimg modname='core' src='editcopy.gif' set='icons/large' alt=$templatetitle]--></div>
    <h2><!--[$templatetitle]--></h2>
    <p class="z-informationmsg"><!--[gt text="Please confirm duplication of poll."]--></p>
    <form class="z-form" action="<!--[pnmodurl modname="advanced_polls" type="admin" func="duplicate"]-->" method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <input type="hidden" name="authid" value="<!--[insert name=generateauthkey module="advanced_polls"]-->" />
            <input type="hidden" name="confirmation" value="1" />
            <input type="hidden" name="pollid" value="<!--[$pollid|pnvarprepfordisplay]-->" />
            <fieldset>
                <legend><!--[gt text="Confirmation prompt"]--></legend>
                <div class="z-formbuttons">
                    <!--[pnbutton src='button_ok.gif' set='icons/small' __alt="Duplicate poll" __title="Duplicate poll"]-->
                    <a href="<!--[pnmodurl modname=advanced_polls type=admin func=view]-->"><!--[pnimg modname='core' src='button_cancel.gif' set='icons/small'   __alt="Cancel" __title="Cancel"]--></a>
                </div>
            </fieldset>
        </div>
    </form>
</div>