<p class="z-informationmsg">
    {gt text="This is an unlimited multiple selection poll." domain="module_advancedpolls"}
    {gt text="You may select any number of options." domain="module_advancedpolls"}
</p>

{counter name=counter print=false start=0}
{foreach from=$item.options item=option}
<div class="z-formnote">
    <input id="option{$option.optionid|pnvarprepfordisplay}" type="checkbox" name="option{counter}" value="{$option.optionid|pnvarprepfordisplay}" />
    {if $option.optioncolour neq ''}
    <span style="color:{$option.optioncolour};">
        <label id="option{$option.optionid|pnvarprepfordisplay}">{$option.optiontext|pnmodcallhooks|pnvarprephtmldisplay}</label>
    </span>
    {else}
    <label for="option{$option.optionid|pnvarprepfordisplay}">{$option.optiontext|pnmodcallhooks|pnvarprephtmldisplay}</label>
    {/if}
</div>
{/foreach}

<input type="hidden" name="optioncount" value="{$smarty.section.options.iteration-1}" />
