{*  $Id$  *}
{include file="advancedpolls_admin_menu.htm"}
<script type="text/javascript" src="modules/advanced_polls/pnincludes/picker.js"></script>
{ajaxheader modname=advanced_polls filename=ap_admin_newmodify.js effects=true nobehaviour=true noscriptaculous=true}
{gt text="Create poll" assign=templatetitle}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{pnimg modname='core' src='filenew.gif' set='icons/large' alt=$templatetitle}</div>
    <h2>{$templatetitle}</h2>
    <form class="z-form" action="{modurl modname=advancedpolls type=admin func=create}" method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <input type="hidden" name="authid" value="{insert name=generateauthkey module=advanced_polls}" />
            <fieldset>
                <legend>{gt text="Basic Information"}</legend>
                <div class="z-formrow">
                    <label for="advancedpolls_title">{gt text="Name of poll"}</label>
                    <input id="advancedpolls_title" name="poll[title]" type="text" size="50" maxlength="100" />
                </div>
                <div class="z-formrow">
                    <label for="advancedpolls_urltitle">{gt text="PermaLink URL title"}</label>
                    <input id="advancedpolls_urltitle" name="poll[urltitle]" type="text" size="50" maxlength="120" />
                    <em class="z-formnote z-sub">{gt text="(Blank = auto-generate)"}</em>
                </div>
                {if $enablecategorization}
                <div class="z-formrow">
                    <label>{gt text="Category"}</label>
                    {nocache}
                    {foreach from=$catregistry key=property item=category}
                    <div class="z-formlist">{selector_category category=$category name="poll[__CATEGORIES__][$property]" field="id" selectedValue="0" defaultValue="0" __defaultText='Choose Category'}</div>
                    {/foreach}
                    {/nocache}
                </div>
                {/if}
                <div class="z-formrow">
                    <label for="advancedpolls_description">{gt text="Description"}</label>
                    <textarea id="advancedpolls_description" name="poll[description]" rows="10" cols="50"></textarea>
                </div>
                <div class="z-formrow">
                    <label for="advancedpolls_language">{gt text="Language"}</label>
                    {html_select_languages id="advancedpolls_language" name="poll[language]" installed=true all=true}
                </div>
            </fieldset>
            <fieldset>
                <legend>{gt text="Timing"}</legend>
                <div class="z-formrow">
                    <label for="advancedpolls_startdate">{gt text="Date and time poll opens"}</label>
                    <div id="advancedpolls_startdate" style="white-space:nowrap">
                        {html_select_date year_as_text=true prefix="start"}{html_select_time use_24_hours=true display_seconds=false prefix="start"}
                    </div>
                </div>
                <div class="z-formrow">
                    <label for="advancedpolls_noclosedate">{gt text="No close date"}</label>
                    <input type="checkbox" id="advancedpolls_noclosedate" value="1" name="poll[noclosedate]" checked="checked" />
                </div>
                <div id="advancedpolls_closedate_container" class="z-formrow">
                    <label for="advancedpolls_closedate">{gt text="Date and time poll closes"}</label>
                    <div id="advancedpolls_closedate" style="white-space:nowrap">
                        {html_select_date year_as_text=true prefix="close"}{html_select_time use_24_hours=true display_seconds=false prefix="close"}
                    </div>
                </div>
                <div class="z-formrow">
                    <label for="advancedpolls_recurring">{gt text="Recurring poll?"}</label>
                    <select id="advancedpolls_recurring" name="poll[recurring]">
                        <option value="0">{gt text="No"}</option>
                        <option value="1">{gt text="Yes"}</option>
                    </select>
                </div>
                <div id="advancedpolls_recurring_container">
                    <p class="z-formnote z-informationmsg">{gt text="The following options are only relevant if a recurring poll is selected."}</p>
                    <div class="z-formrow">
                        <label for="advancedpolls_recurringoffset">{gt text="Recurring offset"}</label>
                        <input id="advancedpolls_recurringoffset" name="poll[recurringoffset]" type="text" size="5" maxlength="5" value="0" />
                        <em class="z-sub z-formnote">{gt text="Number of hours after the close date the poll reopens."}</em>
                    </div>
                    <div class="z-formrow">
                        <label for="advancedpolls_recurringinterval">{gt text="Recurrence interval"}</label>
                        <input id="advancedpolls_recurringinterval" name="poll[recurringinterval]" type="text" size="5" maxlength="5" value="0" />
                        <em class="z-sub z-formnote">{gt text="Number of days the poll will recur."}</em>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{gt text="Voting regulations"}</legend>
                <div class="z-formrow">
                    <label for="advancedpolls_voteauthtype">{gt text="Poll authorisation method"}</label>
                    <select id="advancedpolls_voteauthtype" name="poll[voteauthtype]">
                        {votingtypes selected="2"}
                    </select>
                </div>
                <div class="z-formrow">
                    <label for="advancedpolls_tiebreakalg">{gt text="Tiebreak method"}</label>
                    <select id="advancedpolls_tiebreakalg" name="poll[tiebreakalg]">
                        {tiebreaktypes}
                    </select>
                </div>
                <div class="z-formrow">
                    <label for="advancedpolls_multipleselect">{gt text="Selection method"}</label>
                    <select id="advancedpolls_multipleselect" name="poll[multipleselect]">
                        {multipleselecttypes}
                    </select>
                </div>
                <div id="advancedpolls_multipleselect_container">
                    <p class="z-formnote z-informationmsg">{gt text="The following option only relevant if a multiple selection poll is selected."}</p>
                    <div class="z-formrow">
                        <label for="advancedpolls_multipleselectcount">{gt text="You may select "}</label>
                        <input id="advancedpolls_multipleselectcount" name="poll[multipleselectcount]" type="text" size="5" maxlength="5" value="1" />
                        <em class="z-formnote z-sub">{gt text="(-1 for Unlimited selections)"}</em>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{gt text="Options"}</legend>
                <div class="z-formrow">
                    <label for="advancedpolls_optioncount">{gt text="Number of options in this poll"}</label>
                    <input id="advancedpolls_optioncount" name="poll[optioncount]" type="text" size="3" maxlength="3" value="{$defaultoptioncount|pnvarprepfordisplay}" />
                </div>
            </fieldset>
            {* {pnmodcallhooks hookobject=item hookaction=new module=advanced_polls} *}
            <div class="z-formbuttons">
                {button src='button_ok.png' set='icons/small' __alt="Create" __title="Create"}
                <a href="{pnmodurl modname=advanced_polls type=admin func=view}">{pnimg modname='core' src='button_cancel.png' set='icons/small' __alt="Cancel" __title="Cancel"}</a>
            </div>
        </div>
    </form>
</div>